<div class="ui-bar">
    <a href="share-dialog.html"  data-role="button" data-icon="star" data-theme="a" data-rel="dialog">Share</a>
    <a href="{{ path('contactspage') }}" data-role="button" data-icon="plus" data-theme="a">Contact</a>
    <a href="" data-role="button" data-icon="arrow-u" data-theme="a" style="float:right;" class="returnTopAction">Return top</a>
</div>